<section id="sidebar" ng-controller="CategoryCtr">
    <div class="sidebar affix">
        <div class="list-group">
            <ul class="parent-menu affix">
                <li ng-repeat="category in categories">
                    <a href="http://all-nodes-ravuthz2.c9users.io:8080/category/{{ category.id }}" class="list-group-item">
                        <span class="icon-sidebar">
                            <img src="/images/icon/icon-sidebar-small/fresh-vegetables-icon-80x80.png" alt="">
                        </span>{{ category.name }}</a>
                    <ul class="child-menu">
                        <li>
                            <a href="http://all-nodes-ravuthz2.c9users.io:8080/category/{{ category.id }}"><h4>{{ category.name }}</h4></a>
                        </li>
                        <li>
                            <a href="#">item</a>
                        </li>
                        <li>
                            <a href="#">item</a>
                        </li>
                        <li>
                            <a href="#">item</a>
                        </li>
                        <li>
                            <a href="#">item</a>
                        </li>
                        <li>
                            <a href="#">item</a>
                        </li>
                        <li>
                            <a href="#">item</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    </div>

</section>
<div id="overlay">
    &nbsp;
</div>
<!-- sidebar -->