<!-- Our Partner -->
<section id="our-partner">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <h3>Our Partners</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <!-- slide our partner -->
            <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
                <!-- our partner for slides -->
                <div class="carousel-inner" role="listbox" id="partnerList">
                    
                </div>

            </div>
            <!-- /slide our partner -->
        </div>
    </div>

</section>
<!--/ Our Partner -->

<script id="partnerTemplate" type="text/x-jquery-tmpl">
    <div class="item active">
        <div class="col-xs-2 col-sm-2 col-md-2">
            <a href="#">
                <img src="/images/partner/${image}" />
            </a>
            <p>
               ${name}
            </p>
        </div>
    </div>
</script>