<div class="carousel slide" data-ride="carousel" id="carousel-example-generic1">
		<!-- our partner for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<div class="col-xs-2 col-sm-2 col-md-2">
					<a href="#"><img src="/images/our_partner/cleanbodia-130x100.png"></a>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2">
					<a href="#"><img src="/images/our_partner/koc-cambodia-130x100.png"></a>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2">
					<a href="#"><img alt="..." src="/images/our_partner/Sai_Farm-130x100.png"></a>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2">
					<a href="#"><img src="/images/our_partner/cleanbodia-130x100.png"></a>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2">
					<a href="#"><img src="/images/our_partner/koc-cambodia-130x100.png"></a>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2">
					<a href="#"><img alt="..." src="/images/our_partner/Sai_Farm-130x100.png"></a>
				</div>
			</div>
			<div class="item">
				<div class="col-xs-2 col-sm-2 col-md-2">
					<a href="#"><img src="/images/our_partner/cleanbodia-130x100.png"></a>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2">
					<a href="#"><img src="/images/our_partner/koc-cambodia-130x100.png"></a>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2">
					<a href="#"><img alt="..." src="/images/our_partner/Sai_Farm-130x100.png"></a>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2">
					<a href="#"><img src="/images/our_partner/cleanbodia-130x100.png"></a>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2">
					<a href="#"><img src="/images/our_partner/koc-cambodia-130x100.png"></a>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2">
					<a href="#"><img alt="..." src="/images/our_partner/Sai_Farm-130x100.png"></a>
				</div>
			</div>
		</div>
</div>