<div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
    <!-- our partner for slides -->
    <div class="carousel-inner" role="listbox">
        <% if(partners){ %>
            <h2><%= partners.length %></h2>
            <% _.each(partners, function(partner){ %>
                <div class="item active">
                    <div class="col-xs-2 col-sm-2 col-md-2">
                        <a href="#">
                            <img src="/images/partner/<%= partner.image %>">
                        </a>
                        <br>
                    </div>
                </div>
            <% });%>   
        <% } %>
    </div>
</div>
