<!-- Popular Product -->
<section id="new-product" ng-controller="PopularProductCtr">
    <div class="container-fluid">
        <!-- Title -->
        <center>
            <div class="new-product-title"></div>
            <div class="title">{{ title }}</div>
        </center>
        <!--/ Title -->
        <!-- Item content -->
        <div class="item-content">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12" id="popularProductList">

                    <div ng-repeat="product in products" class="col-sm-3 col-md-3">
                        <% include ../partials/templates/product-card %>
                    </div>

                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- /Item content -->
    </div>
    <% include ./templates/modal %>
</section>
<!-- /	Popular Product -->