
<!-- Product -->
<section id="new-product">
    <div class="container-fluid">
        <!-- Title -->
        <center>
            <div class="new-product-title"></div>
            <div class="title">Products</div>
        </center>
        <!--/ Title -->
        <!-- Item content -->
        <div class="item-content">
              <!-- row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12" id="listProduct">

                </div>
            </div>
            <!--/ end row -->
             <!-- pagination -->
            <div class="row">
                <div class="col-ms-12 col-md-12">
                    <div class="text-center">
                        <ul class="pagination">
                            <a id="btn-pre">Prev</a>
                            <i id="listPagination">

                            </i>
                            <a id="btn-next">Next</a>
                        </ul>
                    </div>
                </div>
            </div>
             <!--/ end pagination -->
        </div>
        <!--/ Item content -->
    </div>
</section>
<!--/ Product -->

<script id="paginationTemplate" type="text/x-jquery-tmpl">
    <a id="newProductPageNumber">${i}</a>
</script>