<script id="productTemplate" type="text/x-jquery-tmpl">
    <div class="col-sm-3 col-md-3">
        <div class="thumbnail">
            <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">
                <img src="/images/product/${image}" />
            </a>
            <div class="caption">
                <h5>
                    ${name}
                </h5>
                <h4>$ ${price}</h4>
                <span>/ 1 case</span>
                <span class="instock">In Stock</span>
                <span class="rate-product">
                    <button class="btn btn-xs btn-link active">
                        <i class="fa fa-star"></i>
                    </button>
                    <button class="btn btn-xs btn-link active">
                        <i class="fa fa-star"></i>
                    </button>
                    <button class="btn btn-xs btn-link active">
                        <i class="fa fa-star"></i>
                    </button>
                    <button class="btn btn-xs btn-link">
                        <i class="fa fa-star"></i>
                    </button>
                    <button class="btn btn-xs btn-link">
                        <i class="fa fa-star"></i>
                    </button>
                </span>
            </div>

            <div class="product-control-group">
                <div class="product-quantity-button">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-link btn-xs btn_minus_qty" type="button" id="btn_minus_qty">
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            </button>
                        </span>
                        <input type="text" class="form-control pro_input_qty" value="1" id="pro_input_qty">
                            <span class="input-group-btn">
                                <button class="btn btn-xs btn-link btn_plus_qty" type="button" id="btn_plus_qty">
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </button>
                            </span>

                    </div>
                </div>
                <button class="btn-add-to-cart btn btn-primary btn-block" type="button" tabindex="0" id="btn-add-to-cart" 
                        data-name="${name}"
                        data-id="${id}"
                        data-image="${image}"
                        data-price="${price}">
                        <span class="hidden-xs hidden-sm hidden-md">
                            <i class="fa fa-shopping-basket"></i>&nbsp;&nbsp;</span>
                        Add to Cart
                </button>
                <input type="hidden" name="pro_price" value="10" id="pro_price">
            </div>
        </div>
    </div>
</script>