<!-- Page Content -->
<div class="container-fluid">
	<div class="row">


		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<!-- 	container -->
			<div class="container-fluid">

				<!-- logo -->
				<section id="first-logo">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="main-logo">
								<a href="/">
									<img src="/images/logo/logo.png">
								</a>
							</div>
						</div>
					</div>
				</section>
				<!-- /logo -->

				<!-- Content -->
				<!-- 	Login -->
				<section id="user-account">
					<div class="container">

						<div class="border-top"></div>

						<!-- My Account  -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="return-costomer-login">
								<!-- 	My Account -->
								<h3>My Account</h3>
								<ul class="my-account">
									<li>
										<a href="/account/edit-account">Edit your account information</a>
									</li>
									<li>
										<a href="/account/change-password">Change your password</a>
									</li>
									<li>
										<a href="/account/address">Modify your address book entries</a>
									</li>
									<li>
										<a href="/account/wishlist">Modify your wish list</a>
									</li>
								</ul>

								<!-- 	My Order -->
								<h3>My Order</h3>
								<ul class="my-account">
									<li>
										<a href="/account/order">View your order history</a>
									</li>
									<li>
										<a href="/account/download">Downloads</a>
									</li>
									<li>
										<a href="/account/reward">Your Reward Points</a>
									</li>
									<li>
										<a href="/account/return">View your return requests</a>
									</li>
									<li>
										<a href="/account/transaction">Your Transactions</a>
									</li>
									<li>
										<a href="/account/recurring">Recurring payments</a>
									</li>

								</ul>

								<!-- 	News Letter -->
								<h3>Newletter</h3>
								<ul class="my-account">
									<li>
										<a href="/account/newsletter">Subscribe / unsubscribe to newsletter</a>
									</li>

								</ul>



							</div>
							<!-- /My Account -->


						</div>
				</section>

				<!-- /Login -->


				</div>
			</div>
		</div>
	</div>

	<!-- / Content -->
	<div class="clearfix">
		&nbsp;
	</div>
	<!-- Footer -->
	<footer>

		<!-- footer top -->
		<section id="footer_top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-4">

						<!-- 	contact -->
						<% include ../../partials/common/contact %>
						<!-- 	/contact -->

					</div>

					<div class="col-xs-12 col-sm-12 col-md-4">

						<!-- 	keepintouch -->
						<% include ../../partials/common/keepintouch %>
						<!-- /keepintouch -->

					</div>

					<div class="col-xs-12 col-sm-12 col-md-4">

						<!-- 	video -->
						<% include ../../partials/common/video %>
						<!-- 	/video -->
					</div>
				</div>
			</div>
		</section>
		<!-- /footer top -->

		<!-- footer buttom -->
		<section id="footer_buttom">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
						<span>Copyright @ mart87.com 2016-2017</span>
						<span>All right reserve</span>
					</div>
				</div>
			</div>
		</section>
		<!-- /footer buttom -->
	</footer>
	<!-- /Footer -->