<!-- Page Content -->
<div class="container-fluid">
	<div class="row">


		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<!-- 	container -->
			<div class="container-fluid">

				<!-- logo -->
				<section id="first-logo">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="main-logo">
								<a href="/">
									<img src="/images/logo/logo.png">
								</a>
							</div>
						</div>
					</div>
				</section>
				<!-- /logo -->

				<section id="breadcrumb">
					<div class="container">
						<div class="col-md-12">
							<ol class="breadcrumb">
								<li>
									<a href="#">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li>
									<a href="/account">Account</a>
								</li>
								<li class="active">Change Password</li>
							</ol>
						</div>
					</div>
				</section>

				<!-- Content -->

				<!-- 	Login -->
				<section id="user-account">
					<div class="container">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h2>Change Password</h2>
							<h4>Your Password</h4>
							<div class="border-top"></div>
						</div>

						<!-- My Account  -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">


							<div class="form-account">
								<form class="form-horizontal">
									<div class="form-group">
										<label class="col-sm-2 control-label">
											<span class="require">*</span> Password</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" placeholder="Password ">
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label">
											<span class="require">*</span>Password Confirm </label>
										<div class="col-sm-10">
											<input type="text" class="form-control" placeholder="Password Confirm ">
										</div>
									</div>
									<div class="form-group">
										<div class="col-sm-12">
											<a href="/account">
												<button type="submit" class="btn btn-default">Back</button>
											</a>
											<button type="submit" class="btn btn-success pull-right">Continue</button>

										</div>
									</div>
								</form>
							</div>

						</div>
				</section>

				<!-- /Login -->
				</div>
			</div>
		</div>
	</div>

	<!-- / Content -->
	<div class="clearfix">
		&nbsp;
	</div>
	<!-- Footer -->
	<footer>


		<!-- footer top -->
		<section id="footer_top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-4">

						<!-- 	contact -->
						<% include ../../partials/common/contact %>
							<!-- 	/contact -->

					</div>

					<div class="col-xs-12 col-sm-12 col-md-4">

						<!-- 	keepintouch -->
						<% include ../../partials/common/keepintouch %>
							<!-- /keepintouch -->

					</div>

					<div class="col-xs-12 col-sm-12 col-md-4">

						<!-- 	video -->
						<% include ../../partials/common/video %>
							<!-- 	/video -->
					</div>
				</div>
			</div>
		</section>
		<!-- /footer top -->

		<!-- footer buttom -->
		<section id="footer_buttom">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
						<span>Copyright @ mart87.com 2016-2017</span>
						<span>All right reserve</span>
					</div>
				</div>
			</div>
		</section>
		<!-- /footer buttom -->
	</footer>
	<!-- /Footer -->