<!-- Page Content -->
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<!-- 	container -->
			<div class="container-fluid">

				<!-- logo -->
				<section id="first-logo">
					<div class="row">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<div class="main-logo">
								<a href="/">
									<img src="/images/logo/logo.png">
								</a>
							</div>
						</div>
					</div>
				</section>
				<!-- /logo -->

				<section id="breadcrumb">
					<div class="container">
						<div class="col-md-12">
							<ol class="breadcrumb">
								<li>
									<a href="#">
										<i class="fa fa-home"></i>
									</a>
								</li>
								<li>
									<a href="account.html">Account</a>
								</li>
								<li class="active">Order History</li>
							</ol>
						</div>
					</div>
				</section>
				<!-- Content -->
				<!-- 	Login -->
				<section id="user-account">
					<div class="container">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<h2>Order History</h2>
							<h4>You have not made any previous orders!</h4>
							<div class="border-top"></div>
						</div>
						<!-- My Address  -->
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<th>No</th>
										<th>Pro.Name</th>
										<th>Pro.Image</th>
										<th>Quantity</th>
										<th>Price</th>
										<th>Total</th>
									</thead>
									<tbody>
										<tr>
											<td>No</td>
											<td>Pro.Name</td>
											<td>Pro.Image</td>
											<td>Quantity</td>
											<td>Price</td>
											<td>Total</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="form-group">

								<a href="new-address.html" class="btn btn-success pull-right">Countinue</a>
							</div>

						</div>
						<!-- /My Address -->
				</section>

				<!-- messenger-button -->
				<section id="messenger">
					<div class="messenger-button">
						<button class="btn btn-info">
							<img src="../assets/images/icon/messanger.png" alt="messanger" width="25px"> Chart with our support team :)</button>
					</div>
				</section>
				<!-- messenger-button -->
				</div>
			</div>
		</div>
	</div>
	<!-- / Content -->
	<div class="clearfix">
		&nbsp;
	</div>
	<!-- Footer -->
	<footer>
		<!-- footer top -->
		<section id="footer_top">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class="box-1">
							<span class="glyphicon glyphicon-earphone"></span>
						</div>
						<div class="box-2">
							<h4>Do You Have Any Question?</h4>
						</div>
						<div class="box-3">
							<span></span>
							<span>070 600 200</span>
							<span>099 600 200</span>
						</div>
						<div class="box-4">
							<h5>Information</h5>
							<span class="fa fa-envelope-o"></span>
							<h6>info@mart87.com</h6>
							<span class="glyphicon glyphicon-dashboard"></span>
							<h6>8:00 am - 8 pm</h6>
						</div>
					</div>
					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class="box-5">
							<ul>
								<li>
									<a href="/frequently-asked-questions">FAQ</a>
								</li>
								<li>
									<a href="/about">About Mart78</a>
								</li>
								<li>
									<a href="/delivery">Delivery Information</a>
								</li>
								<li>
									<a href="/terms-and-conditions">Term & Condition</a>
								</li>
							</ul>
						</div>
						<div class="box-6">
							<h5>Keep in Touch On</h5>
							<span>
								<a href="#" class="btn btn-primary active facebook" role="button">
									<i class="fa fa-facebook"></i>
								</a>
								<a type="button" class="btn btn-primary linkin">
									<i class="fa fa-linkedin"></i>
								</a>
								<a type="button" class="btn btn-primary twitter">
									<i class="fa fa-twitter"></i>
								</a>
								<a type="button" class="btn btn-danger youtube">
									<i class="fa fa-youtube"></i>
								</a>
							</span>

						</div>
					</div>

					<div class="col-xs-12 col-sm-12 col-md-4">
						<div class="box-7">
							<h5>How to Buy</h5>
							<div class="video-block">
								<div class="videoContainer">
									<video id="myVideo" controls preload="auto" poster="/images/logo/logo.png" width="450">
										<source src="/video/default.mp4" type="video/mp4" />
										<p>Your browser does not support the video tag.</p>
									</video>
									<div class="caption"></div>
									<div class="control">
										<div class="btmControl">
											<div class="btnPlay btn" title="Play/Pause video">
												<span class="fa fa-play"></span>
											</div>
											<div class="progress-bar">
												<div class="progress">
													<span class="bufferBar"></span>
													<span class="timeBar"></span>
												</div>
											</div>
											<!--<div class="volume" title="Set volume">
																<span class="volumeBar"></span>
														</div>-->
											<div class="sound sound2 btn" title="Mute/Unmute sound">
												<span class="fa fa-volume-up"></span>
											</div>
											<div class="btnFS btn" title="Switch to full screen">
												<span class="fa fa-arrows-alt"></span>
											</div>
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /footer top -->

		<!-- footer buttom -->
		<section id="footer_buttom">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
						<span>Copyright @ mart87.com 2016-2017</span>
						<span>All right reserve</span>
					</div>
				</div>
			</div>
		</section>
		<!-- /footer buttom -->
	</footer>
	<!-- /Footer -->