<div class="thumbnail">
        <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">
            <img src="/images/products/large/CokeZero_12-200x200.jpg" alt="...">
        </a>
        <div class="caption">
            <h5>Coca Cola Zero 24*330ml</h5>
            <h4>$10.00</h4>
            <span>/ 1 case</span>
            <span class="instock">In Stock</span>
            <span class="rate-product">
                <button class="btn btn-xs btn-link active">
                    <i class="fa fa-star"></i>
                </button>
                <button class="btn btn-xs btn-link active">
                    <i class="fa fa-star"></i>
                </button>
                <button class="btn btn-xs btn-link active">
                    <i class="fa fa-star"></i>
                </button>
                <button class="btn btn-xs btn-link">
                    <i class="fa fa-star"></i>
                </button>
                <button class="btn btn-xs btn-link">
                    <i class="fa fa-star"></i>
                </button>
            </span>
        </div>
        <!-- product-control-group -->
        <div class="product-control-group">
            <!-- 	product-quantity-button -->
            <div class="product-quantity-button">

                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-link btn-xs" type="button" id="btn_minus_qty">
                            <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </button>
                    </span>
                    <input type="text" class="form-control" value="1" id="pro_input_qty">
                    <span class="input-group-btn">
                        <button class="btn btn-xs btn-link" type="button" id="btn_plus_qty">
                            <i class="fa fa-caret-up" aria-hidden="true"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->

            </div>
            <!-- 	/product-quantity-button -->
            <!-- 	Button Add to cart -->
            <button class="btn-add-to-cart btn btn-primary btn-block" type="button" tabindex="0" id="btn-add-to-cart" data-image="assets/images/products/large/CokeZero_12-200x200.jpg"
                data-name="Coca Cola Zero 24*330ml" data-price="$10.00">
                <span class="hidden-xs hidden-sm hidden-md">
                    <i class="fa fa-shopping-basket"></i>&nbsp;&nbsp;</span>

                Add to Cart
            </button>
            <!-- input price -->
            <input type="hidden" name="pro_price" value="10" id="pro_price">
            <!-- /	Button Add to cart -->
        </div>
        <!-- /product-control-group -->
    </div>
    <!-- 	/thumbnail -->