<script id="cartTableTemplate" type="text/x-jquery-tmpl">
    <tr>
        <td class="item-order-images"><img id="item_order_images" src="<%=sails.getBaseUrl()%>/images/product/${image}">
        </td>
        <td>
            <strong id="item_order_name">${name}</strong><br>
            <span id="item_order_price">${price}</span><span class="item-type">good</span>
        </td>
        <td class="item-order-quantity">${quantity}</td>
        <td class="item-order-total"></td>
        <td><a href="" class="remove-item-order"><i class="fa fa-close"></i></a></td>
    </tr>									
</script>