<!-- Modal Product Deatil -->
<section>
    <!-- 	Modal Product Detail -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- 	product image detail -->
                        <div class="col-xs-12 col-sm-12 col-md-5">
                            <!-- product-image-large -->
                            <div class="product-image-large">
                                <div class="easyzoom easyzoom--overlay easyzoom-with-thumbnails">
                                    <a href="/images/products/large/DietCoke_12oz.png">
                                        <img src="/images/products/large/DietCoke_12oz.png" width="50%" height="50%">
                                    </a>
                                </div>

                            </div>
                            <!-- /product-image-large -->

                            <!-- product-image-sub -->

                            <div class="product-image-sub">

                                <a href="/images/products/large/Coke-Can.jpg" data-standard="assets/images/products/large/Coke-Can.jpg">
                                    <img src="/images/products/large/Coke-Can.jpg" />
                                </a>
                            </div>
                            <div class="product-image-sub">
                                <a href="/images/products/large/DietCoke_12oz.png" data-standard="assets/images/products/large/DietCoke_12oz.png">
                                    <img src="/images/products/large/DietCoke_12oz.png" alt="" />
                                </a>

                            </div>
                            <div class="product-image-sub">

                                <a href="/images/products/large/CokeZero_12-200x200.jpg" data-standard="assets/images/products/large/CokeZero_12-200x200.jpg">
                                    <img src="/images/products/large/CokeZero_12-200x200.jpg" alt="" />
                                </a>
                            </div>

                            <!-- /product-image-sub -->
                        </div>
                        <!-- /	product image detail -->
                        <!-- 	product detail -->
                        <div class="col-xs-12 col-sm-12 col-md-7">
                            <!-- product-detail-name -->
                            <div class="product-detail-name">
                                <h3>Coca Cola Zero 24*330ml</h3>
                            </div>
                            <!-- /product-detail-name -->
                            <!-- product-detail-rate -->
                            <div class="product-detail-rate">
                                <button class="btn btn-xs btn-link active">
                                    <i class="fa fa-star"></i>
                                </button>
                                <button class="btn btn-xs btn-link active">
                                    <i class="fa fa-star"></i>
                                </button>
                                <button class="btn btn-xs btn-link active">
                                    <i class="fa fa-star"></i>
                                </button>
                                <button class="btn btn-xs btn-link">
                                    <i class="fa fa-star"></i>
                                </button>
                                <button class="btn btn-xs btn-link">
                                    <i class="fa fa-star"></i>
                                </button>
                                <span>|</span>
                                <span class="reviews">20 reviews</span>
                            </div>
                            <!-- 	/product-detail-rate -->
                            <!-- product detail price -->
                            <div class="product-detail-price">
                                <h5>$10.00</h5>
                                <span>/</span>
                                <span>1 case</span>
                            </div>
                            <!-- / product detail price -->
                            <!-- product detail available -->
                            <div class="product-detail-available">
                                Availability :
                                <strong>In Stock</strong>
                            </div>
                            <!-- / product detail available -->
                            <!-- product detail description -->
                            <div class="product-detail-desc">
                                <p>Sensodyne Micro Active Extra Soft Toothbrush Sensodyne Micro Active Extra Soft Toothbrush
                                    Sensodyne Micro Active Extra Soft Toothbrush</p>
                            </div>
                            <!-- / product detail description -->
                            <!-- 	product-quantity-button -->
                            <div class="product-quantity-button">
                                <center>
                                    <div class="input-group">
                                        <span class="input-group-btn">
                                            <button class="btn btn-link btn-xs" type="button" id="btn_detail_minus_qty">
                                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                        <input type="text" class="form-control" value="1" id="pro_detail_input_qty">
                                        <span class="input-group-btn">
                                            <button class="btn btn-xs btn-link" type="button" id="btn_detail_plus_qty">
                                                <i class="fa fa-caret-up" aria-hidden="true"></i>
                                            </button>
                                        </span>
                                    </div>
                                    <!-- /input-group -->
                                </center>
                            </div>
                            <!-- 	/product-quantity-button -->
                            <!-- 	Button Add to cart -->
                            <button class="btn-add-to-cart btn btn-primary btn-block" type="button" tabindex="0">&nbsp;&nbsp;Add to Cart</button>
                            <!-- /	Button Add to cart -->
                            <!-- button share facebook -->
                            <button class="btn btn-sm btn-primary btn-block btn-socail">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp; Share On Facebook</button>
                            <!-- /button share facebook -->
                        </div>
                        <!-- /	product detail -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /	Modal Product Detail -->
</section>
<!-- /Modal Product Deatil -->