   <!-- Modal Product Deatil -->
                <section>
                    <!-- 	Modal Product Detail -->
                    <!--<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">-->
                      <div class="modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" ng-class="{'show': showProductModal}">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="showProductModal = !showProductModal">
                                        <span aria-hidden="true">&times;</span>
                                    </button>

                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <!-- 	product image detail -->
                                        <div class="col-xs-12 col-sm-12 col-md-5">
                                            <!-- product-image-large -->
                                            <div class="product-image-large">
                                                <div class="easyzoom easyzoom--overlay easyzoom-with-thumbnails">
                                                    <a href="{{ parseProImage(selectedProduct.images[0]) }}">
                                                    <img src="{{ parseProImage(selectedProduct.images[0]) }}" width="50%" height="50%" />
                                                    </a>
                                                </div>

                                            </div>
                                            <!-- /product-image-large -->
                                            <!-- product-image-sub -->
                                            <div class="product-image-sub">
                                                <a href="{{ parseProImage(selectedProduct.images[1]) }}" data-standard="{{ parseProImage(selectedProduct.images[1]) }}">
                                                    <img src="{{ parseProImage(selectedProduct.images[1]) }}" width="50%" height="50%" />
                                                </a>
                                            </div>
                                            <div class="product-image-sub">
                                                <a href="{{ parseProImage(selectedProduct.images[2])}}" data-standard="{{ parseProImage(selectedProduct.images[2]) }}">
                                                    <img src="{{ parseProImage(selectedProduct.images[2]) }}" width="50%" height="50%" />
                                                </a>
                                            </div>
                                            <div class="product-image-sub">
                                                <a href="{{ parseProImage(selectedProduct.images[3]) }}" data-standard="{{ parseProImage(selectedProduct.images[3]) }}">
                                                    <img src="{{ parseProImage(selectedProduct.images[3]) }}" width="50%" height="50%" />
                                                </a>
                                            </div>

                                            <!-- /product-image-sub -->
                                        </div>
                                        <!-- /	product image detail -->
                                        <!-- 	product detail -->
                                        <div class="col-xs-12 col-sm-12 col-md-7">
                                            <div class=row>
                                                <div class="col-sm-12">
                                                    <!-- product-detail-name -->
                                                    <div class="product-detail-name">
                                                        <h3>{{ selectedProduct.name }}</h3>
                                                    </div>
                                                    <!-- /product-detail-name -->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <!-- product-detail-rate -->
                                                    <div class="product-detail-rate">
                                                        <button class="btn btn-xs btn-link active">
                                                            <i class="fa fa-star"></i>
                                                        </button>
                                                        <button class="btn btn-xs btn-link active">
                                                            <i class="fa fa-star"></i>
                                                        </button>
                                                        <button class="btn btn-xs btn-link active">
                                                            <i class="fa fa-star"></i>
                                                        </button>
                                                        <button class="btn btn-xs btn-link">
                                                            <i class="fa fa-star"></i>
                                                        </button>
                                                        <button class="btn btn-xs btn-link">
                                                            <i class="fa fa-star"></i>
                                                        </button>
                                                        <span>|</span>
                                                        <span class="reviews">20 reviews</span>
                                                    </div>
                                                    <!-- 	/product-detail-rate -->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <!-- product detail price -->
                                                    <div class="product-detail-price">
                                                        <h5>{{ selectedProduct.price | currency : '$' }}</h5>
                                                        <span>/</span>
                                                        <span>{{ selectedProduct.type }}</span>
                                                    </div>
                                                    <!-- / product detail price -->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-7">
                                                      <!-- product detail available -->
                                                    <div class="product-detail-available">
                                                        Availability :
                                                        <strong>In Stock</strong>
                                                    </div>
                                                    <!-- / product detail available -->
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-7">
                                                      <!-- product detail description -->
                                                    <div class="product-detail-desc">
                                                      <p>{{ selectedProduct.description }}</p>
                                                    </div>
                                                    <!-- / product detail description -->
                                                </div>
                                            </div>
                                             <div class="row">
                                                 <div class="col-md-12">
                                                    <!-- 	product-quantity-button -->
                                                    <div class="product-quantity-button">
                                                        <center>
                                                            <div class="input-group">
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-link btn-xs" type="button" id="btn_detail_minus_qty" ng-click="decreaseQty(selectedProduct)">
                                                                        <i class="fa fa-caret-down" aria-hidden="true"></i>
                                                                    </button>
                                                                </span>
                                                                <input type="text" class="form-control" id="pro_detail_input_qty" name="selectedProduct.qty" ng-model="selectedProduct.qty">
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-xs btn-link" type="button" id="btn_detail_plus_qty" ng-click="increaseQty(selectedProduct)">
                                                                        <i class="fa fa-caret-up" aria-hidden="true"></i>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                            <!-- /input-group -->
                                                        </center>
                                                    </div>
                                                    <!--  /product-quantity-button -->
                                                    <!-- 	Button Add to cart -->
                                                    <button class="btn-add-to-cart btn btn-primary btn-block" type="button" tabindex="0" ng-click="addToCart(selectedProduct)">&nbsp;&nbsp;Add to Cart</button>
                                                    <!-- /	Button Add to cart -->
                                                    <!-- button share facebook -->
                                                    <button class="btn btn-sm btn-primary btn-block btn-socail">
                                                        <i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp; Share On Facebook</button>
                                                    <!-- /button share facebook -->
                                                 </div>
                                             </div>
                                            </div>
                                        <!-- /	product detail -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /	Modal Product Detail -->
                </section>
                <!-- /Modal Product Deatil -->