<div class="box-1">
    <span class="glyphicon glyphicon-earphone"></span>
</div>
<div class="box-2">
    <h4>Do You Have Any Question?</h4>
</div>
<div class="box-3">
    <span></span>
    <span>070 600 200</span>
    <span>099 600 200</span>
</div>
<div class="box-4">
    <h5>Information</h5>
    <span class="fa fa-envelope-o"></span>
    <h6>info@mart87.com</h6>
    <span class="glyphicon glyphicon-dashboard"></span>
    <h6>8:00 am - 8 pm</h6>
</div>