<div class="box-5">
    <ul>
        <li>
            <a href="/frequently-asked-questions">FAQ</a>
        </li>
        <li>
            <a href="/about">About Mart78</a>
        </li>
        <li>
            <a href="/delivery">Delivery Information</a>
        </li>
        <li>
            <a href="/terms-and-conditions">Term & Condition</a>
        </li>
    </ul>
</div>
<div class="box-6">
    <h5>Keep in Touch On</h5>
    <span>
        <a href="#" class="btn btn-primary active facebook" role="button">
            <i class="fa fa-facebook"></i>
        </a>
        <a type="button" class="btn btn-primary linkin">
            <i class="fa fa-linkedin"></i>
        </a>
        <a type="button" class="btn btn-primary twitter">
            <i class="fa fa-twitter"></i>
        </a>
        <a type="button" class="btn btn-danger youtube">
            <i class="fa fa-youtube"></i>
        </a>
    </span>
</div>