<div class="box-7">
    <h5>How to Buy</h5>
    <div class="video-block">
        <div class="videoContainer">
            <video id="myVideo" controls preload="auto" poster="/images/logo/logo.png" width="450">
                <source src="/video/default.mp4" type="video/mp4" />
                <p>Your browser does not support the video tag.</p>
            </video>
            <div class="caption"></div>
            <div class="control">
                <div class="btmControl">
                    <div class="btnPlay btn" title="Play/Pause video">
                        <span class="fa fa-play"></span>
                    </div>
                    <div class="progress-bar">
                        <div class="progress">
                            <span class="bufferBar"></span>
                            <span class="timeBar"></span>
                        </div>
                    </div>
                    <div class="sound sound2 btn" title="Mute/Unmute sound">
                        <span class="fa fa-volume-up"></span>
                    </div>
                    <div class="btnFS btn" title="Switch to full screen">
                        <span class="fa fa-arrows-alt"></span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>