</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/dashboard/js/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/dashboard/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/dashboard/js/metisMenu.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/dashboard/js/startmin.js"></script>

 <!-- DataTables JavaScript -->
 <script src="/dashboard/js/jquery.dataTables.min.js"></script>
 <script src="/dashboard/js/dataTables.bootstrap.min.js"></script>

 <script src="/dashboard/js/sb-admin-2.min.js"></script>

</body>
</html>
