<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>ADMIN</title>

        <!-- Bootstrap Core CSS -->
        <link href="/dashboard/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <link href="/dashboard/css/metisMenu.min.css" rel="stylesheet">

        <!-- Morris Charts CSS -->
        <link href="/dashboard/css/morris.css" rel="stylesheet">

        <!-- DataTables CSS -->
        <link href="/dashboard/css/dataTables.bootstrap.css" rel="stylesheet">
        
        <!-- DataTables Responsive CSS -->
        <link href="/dashboard/css/dataTables.responsive.css" rel="stylesheet">

        <link href="/dashboard/css/sb-admin-2.min.css" rel="stylesheet">

        <link href="/dashboard/css/style.css" rel="stylesheet">

        <script src="/dashboard/js/jquery.upload_preview.min.js"></script>

        <script src="/dashboard/js/jquery-2.1.4.min.js"></script>

    </head>
    <body>
        <div id="wrapper">
            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Mart87</a>
                </div>

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <ul class="nav navbar-nav navbar-left navbar-top-links">
                    <li><a href="/"><i class="fa fa-home fa-fw"></i> HOME</a></li>
                </ul>
                <ul class="nav navbar-right navbar-top-links">
                    <li class="dropdown">
                            <% if (req.session.user) {%>
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="/logout" id="menuAdmin">
                                        <i class="fa fa-user fa-fw"></i> <%= req.session.user.firstName %><b class="caret"></b>
                                    </a>
                            <% } %>
                        <ul class="dropdown-menu dropdown-user" role="menuAdmin" aria-labelledby="menuAdmin">
                            <li><a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                            </li>
                            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>