<ul class="nav" id="side-menu">
    <li>
        <a href="/dashboard/index" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
    </li>
    <li>
        <a href="/dashboard/category"> <i class="fa fa-industry" aria-hidden="true"></i> Category</a>
    </li>
    <li>
        <a href="/dashboard/product"><i class="fa fa-product-hunt" aria-hidden="true"></i> Products</a>
    </li>
    <li>
        <a href="/dashboard/order"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Orders</a>
    </li>
    <li>
        <a href="/dashboard/user"><i class="fa fa-user" aria-hidden="true"></i> User</a>
    </li>
    <li>
        <a href="/dashboard/slide"><i class="fa fa-sliders" aria-hidden="true"></i> Slide</a>
    </li>
    <li>
        <a href="/dashboard/partner"><i class="fa fa-sitemap fa-fw"></i> Partner</a>
    </li>
    
    <!-- <li>
        <a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="#">Second Level Item</a>
            </li>
            <li>
                <a href="#">Second Level Item</a>
            </li>
            <li>
                <a href="#">Third Level <span class="fa arrow"></span></a>
                <ul class="nav nav-third-level">
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                    <li>
                        <a href="#">Third Level Item</a>
                    </li>
                </ul>
            
            </li>
        </ul>
    </li> -->
</ul>