<!-- Page Content -->
<div class="container-fluid">
  <div class="row">


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <!-- 	container -->
      <div class="container-fluid">

        <!-- logo -->
        <section id="first-logo">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <div class="main-logo">
                <a href="/">
                  <img src="/images/logo/logo.png">
                </a>
              </div>
            </div>
          </div>
        </section>
        <!-- /logo -->


        <!-- deliver -->
        <div class="trayer-margin-top"></div>
        <figure class="moon">
          <div class="banner-image">
            <div class="container">
              <center>
                <h1 class="page-title">Delivery Information</h1>
              </center>
            </div>
          </div>
        </figure>
        <div class="container">
          <div class="row">
            <div id="content" class="col-sm-12">
              <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                  <p>Imagine if you are being busy on different tasks, but you have to go shopping food, picking up your kids
                    at school, driving across traffic jam &amp; and it's raining; that must be so much difficult for you.
                    Leave all your grocery shopping tasks to our professional shopper &amp; deliveryman. We select the best
                    quality products and deliver on time with smile to your office or home.</p>
                  <p style="line-height: 17.1428px;">Our business hour start from 9AM - 8PM, but we start deliver products to customer around Phnom Penh from
                    10AM.
                  </p>
                  <p style="line-height: 17.1428px;">Please make sure that you place an order
                    <span style="font-weight: bold;">3&nbsp;hours before delivery time.</span>
                  </p>
                  <p style="line-height: 17.1428px;">For further information please contact to our customer support:&nbsp;
                    <span style="font-weight: bold; color: rgb(206, 0, 0);">
                      <br>
                      <br>085 521-121</span>&nbsp;or email:&nbsp;
                    <span style="font-weight: bold; color: rgb(206, 0, 0);">hello@pengpos.com</span>
                  </p>
                  <p style="line-height: 17.1428px;">
                    <span style="font-weight: bold; color: rgb(206, 0, 0);">
                      <br>
                    </span>
                  </p>
                  <h3 style="font-family: 'Open Sans', sans-serif; color: rgb(102, 102, 102);">Delivery Cost:</h3>
                  <p style="line-height: 17.1428px;"></p>
                  <ul style="line-height: 17.1428px;">
                    <li style="line-height: 1.2;">
                      <p style="line-height: 1.2;">If sub-total cost is
                        <span style="font-weight: bold;">&nbsp;less than $50</span>&nbsp;we will charge&nbsp;
                        <span style="font-weight: bold;">$2 as delivery fee</span>
                      </p>
                    </li>
                    <li style="line-height: 1.2;">
                      <p style="line-height: 1.2;">If sub-total cost is&nbsp;
                        <span style="font-weight: bold;">less than $80</span>&nbsp;we will charge&nbsp;
                        <span style="font-weight: bold;">$3 as delivery fee</span>
                      </p>
                    </li>
                    <li style="line-height: 1.2;">
                      <p style="line-height: 1.2;">
                        <span style="font-weight: bold; color: rgb(206, 0, 0);">FREE DELIVERY</span>&nbsp;if your sub-total is&nbsp;
                        <span style="font-weight: bold;">more than or equal to $80</span>
                      </p>
                    </li>
                  </ul>
                </div>
              </div>
              <iframe src="https://www.google.com/maps/d/embed?mid=1rVBs34E3AtLipTtvoOYe-_nMoxY" height="480" width="100%"></iframe>
            </div>
          </div>
        </div>
        <!-- /deliver -->

      </div>
    </div>
  </div>
</div>

<!-- / Content -->
<div class="clearfix">
  &nbsp;
</div>
<!-- Footer -->
<footer>

  <!-- footer top -->
  <section id="footer_top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4">
            
             <!-- 	contact -->
             <% include ../../partials/common/contact %>
             <!-- 	/contact -->
  
          </div>
  
          <div class="col-xs-12 col-sm-12 col-md-4">
            
             <!-- 	keepintouch -->
             <% include ../../partials/common/keepintouch %>
             <!-- 	/keepintouch -->
  
          </div>
  
          <div class="col-xs-12 col-sm-12 col-md-4">
            
             <!-- 	video -->
             <% include ../../partials/common/video %>
             <!-- 	/video -->
  
          </div>
        </div>
      </div>
    </section>
    <!-- /footer top -->

  <!-- footer buttom -->
  <section id="footer_buttom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
          <span>Copyright @ mart87.com 2016-2017</span>
          <span>All right reserve</span>
        </div>
      </div>
    </div>
  </section>
  <!-- /footer buttom -->
</footer>
<!-- /Footer -->