<!-- logo -->
<section id="first-logo">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="main-logo">
          <a href="/">
            <img src="/images/logo/logo.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /logo -->
<!-- Content -->
<!-- 	Login -->
<section id="checkout-panel">
  <div class="container">
    <h2>Checkout</h2>
    <div class="border-top"></div>
    <!-- 	Checkout -->
    <!-- Checkout Option -->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <i class="fa fa-sign-out"></i> Checkout Option &nbsp;
              <i class="fa fa-caret-down"></i>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">

            <!-- New Member -->
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="new-costomer-login">
                <h3>New Customer</h3>
                <h5>Register Account</h5>
                <span>
                  <input type="radio" checked="checked"> Register Account</span>
                <p>
                  By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders
                  you have previously made.
                </p>

                <!-- Register button -->
                <a href="../auth/register.html" class="btn btn-success btn-new-register">Create New Account</a>
                <!-- /Register button -->

              </div>
            </div>
            <!-- /New Member -->


            <!-- Return Customer  -->
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div class="return-costomer-login">
                <h3>Returning Customer</h3>
                <h5>I am a returning customer</h5>
                <!-- facebook login -->
                <i class="fa fa-facebook"></i>
                <button type="button" class="btn btn-primary btn-block active btn-facebook">Login with Facebbok</button>

                <h2>OR</h2>

                <!-- 	form login -->
                <div class="form-login">
                  <form>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email address</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email address">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>

                    <div class="form-group">
                      <a href="">Forgotten Password</a>
                    </div>

                    <button type="submit" class="btn btn-success btn-block btn-return-login">Login</button>
                  </form>
                </div>
                <!-- 	form login -->



                <!-- /facebook login -->
              </div>

            </div>
            <!-- /Return Customer -->


          </div>
        </div>
      </div>

    </div>

    <!-- Checkout Option -->

    <!-- Account & Billing Details -->

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
            aria-controls="collapseTwo">
            <i class="fa fa-user"></i> &nbsp;Account & Billing Details
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          Coding Here...
        </div>
      </div>
    </div>

    <!-- / Account & Billing Details -->

    <!-- Payment Method -->

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
            aria-controls="collapseThree">
            <i class="fa fa-credit-card"></i> &nbsp;Payment Method
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          Coding Here...
        </div>
      </div>
    </div>

    <!--/ Payment Method -->

    <!-- Confirm Order -->

    <div class="panel panel-default" ng-controller="CheckoutCtr">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true"
            aria-controls="collapseFour">
            <i class="fa fa-check-circle-o"></i> &nbsp;Confirm Order&nbsp;
            <i class="fa fa-caret-down"></i>
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">

          <div class="my-cart">
            <h3>My Cart</h3>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

              <div class="table-responsive">
                <table class="table">

                  <tbody>
                    <tr ng-repeat="item in cartItems">
                      <td width="5%">
                        <img src="{{ parseImage(item.images[0]) }} alt="">
                      </td>
                      <td>
                        <span class="pro_name">{{ item.name }}</span>
                        <span class="pro_price">{{ item.price | currency : '$' }} / {{ selectedProduct.type }}</span>
                      </td>
                      <td class="qty-item-order-checkout">{{item.qty}}</td>
                      <td align="right">
                        <span class="sub_total">{{ item.price | currency : '$' }}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <div class="grand-total">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Sub-Total:</td>
                      <td align="right" class="price">{{ subTotal | currency : '$' }}</td>
                    </tr>
                    <tr>
                      <td>Delivery Fee:</td>
                      <td align="right" class="price">{{ deliveryFee | currency : '$' }}</td>
                    </tr>
                    <tr>
                      <td class="border">Total:</td>
                      <td class="border price" align="right">{{ grandTotal | currency : '$' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <button class="btn btn-success btn-confirm-order pull-right">Confirm Order</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Confirm Order -->
    <!-- /Checkout -->
  </div>
</section>
<!-- Footer -->
<footer>
  <!-- footer top -->
  <section id="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="box-1">
            <span class="glyphicon glyphicon-earphone"></span>
          </div>
          <div class="box-2">
            <h4>Do You Have Any Question?</h4>
          </div>
          <div class="box-3">
            <span></span>
            <span>070 600 200</span>
            <span>099 600 200</span>
          </div>

          <div class="box-4">
            <h5>Information</h5>
            <span class="fa fa-envelope-o"></span>
            <h6>info@mart87.com</h6>
            <span class="glyphicon glyphicon-dashboard"></span>
            <h6>8:00 am - 8 pm</h6>

          </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="box-5">
            <ul>
              <li>
                <a href="/frequently-asked-questions">FAQ</a>
              </li>
              <li>
                <a href="/about">About Mart78</a>
              </li>
              <li>
                <a href="/delivery">Delivery Information</a>
              </li>
              <li>
                <a href="/terms-and-conditions">Term & Condition</a>
              </li>
            </ul>
          </div>

          <div class="box-6">
            <h5>Keep in Touch On</h5>
            <span>
              <a href="#" class="btn btn-primary active facebook" role="button">
                <i class="fa fa-facebook"></i>
              </a>

              <a type="button" class="btn btn-primary linkin">
                <i class="fa fa-linkedin"></i>
              </a>

              <a type="button" class="btn btn-primary twitter">
                <i class="fa fa-twitter"></i>
              </a>

              <a type="button" class="btn btn-danger youtube">
                <i class="fa fa-youtube"></i>
              </a>

            </span>

          </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="box-7">
            <h5>How to Buy</h5>
            <div class="video-block">

              <div class="videoContainer">
                <video id="myVideo" controls preload="auto" poster="/images/logo/logo.png" width="450">
                  <source src="/video/default.mp4" type="video/mp4" />
                  <p>Your browser does not support the video tag.</p>
                </video>
                <div class="caption"></div>
                <div class="control">
                  <div class="btmControl">
                    <div class="btnPlay btn" title="Play/Pause video">
                      <span class="fa fa-play"></span>
                    </div>
                    <div class="progress-bar">
                      <div class="progress">
                        <span class="bufferBar"></span>
                        <span class="timeBar"></span>
                      </div>
                    </div>
                    <!--<div class="volume" title="Set volume">
															<span class="volumeBar"></span>
														</div>-->
                    <div class="sound sound2 btn" title="Mute/Unmute sound">
                      <span class="fa fa-volume-up"></span>
                    </div>
                    <div class="btnFS btn" title="Switch to full screen">
                      <span class="fa fa-arrows-alt"></span>
                    </div>
                  </div>

                </div>
              </div>


            </div>
          </div>
        </div>


      </div>
    </div>
  </section>
  <!-- /footer top -->

  <!-- footer buttom -->
  <section id="footer_buttom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
          <span>Copyright @ mart87.com 2016-2017</span>
          <span>All right reserve</span>
        </div>
      </div>
    </div>
  </section>
  <!-- /footer buttom -->
</footer>
<!-- /Footer -->