<!-- logo -->
<section id="first-logo">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="main-logo">
          <a href="/">
            <img src="/images/logo/logo.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /logo -->
<!-- Content -->
<!-- 	Login -->
<section id="checkout-panel">
  <div class="container">
    <h2>Checkout</h2>
    <div class="border-top"></div>

    <!-- Account & Billing Details -->

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
            aria-controls="collapseTwo">
            <i class="fa fa-user"></i> &nbsp;Account & Billing Details
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          Coding Here...
        </div>
      </div>
    </div>

    <!-- / Account & Billing Details -->

    <!-- Payment Method -->

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
            aria-controls="collapseThree">
            <i class="fa fa-credit-card"></i> &nbsp;Payment Method
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <div class="panel-body">
          Coding Here...
        </div>
      </div>
    </div>

    <!--/ Payment Method -->

    <!-- Confirm Order -->

    <div class="panel panel-default" ng-controller="CheckoutCtr">
      <div class="panel-heading" role="tab" id="headingFour">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true"
            aria-controls="collapseFour">
            <i class="fa fa-check-circle-o"></i> &nbsp;Confirm Order&nbsp;
            <i class="fa fa-caret-down"></i>
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
        <div class="panel-body">

          <div class="my-cart">
            <h3>My Cart</h3>
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">

              <div class="table-responsive">
                <table class="table">

                  <tbody>
                    <tr ng-repeat="item in cartItems">
                      <td width="5%">
                        <img src="{{parseProImage(item.images[0])}}" alt="" >
                      </td>
                      <td>
                        <span class="pro_name">{{ item.name }}</span>
                        <span class="pro_price">{{ item.price | currency : '$' }} / {{ item.type }}</span>
                      </td>
                      <td class="qty-item-order-checkout">{{item.qty}}</td>
                      <td align="right">
                        <span class="sub_total">{{ item.price | currency : '$' }}</span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
              <div class="grand-total">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Sub-Total:</td>
                      <td align="right" class="price">{{ subTotal | currency : '$' }}</td>
                    </tr>
                    <tr>
                      <td>Delivery Fee:</td>
                      <td align="right" class="price">{{ deliveryFee | currency : '$' }}</td>
                    </tr>
                    <tr>
                      <td class="border">Total:</td>
                      <td class="border price" align="right">{{ grandTotal | currency : '$' }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- <form action="/checkout/order" role="form" method="post" enctype="multipart/form-data">
                  <input type="hidden" name="deliveryPrice" value="{{deliveryFee}}">
                  <input type="hidden" name="subTotal" value="{{subTotal}}">
                  <input type="hidden" name="grandTotal" value="{{grandTotal}}">
                  <input type="hidden" name="products" value="{{cartItems}}">
                <input type="submit" class="btn btn-success btn-confirm-order pull-right" value="Confirm Order">
              </form> -->
              <button class="btn btn-success btn-confirm-order pull-right" ng-click="onSubmitOrder()">Confirm Order</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Confirm Order -->
    <!-- /Checkout -->
  </div>
</section>
<!-- Footer -->
<footer>

 <!-- footer top -->
  <section id="footer_top">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4">
            
             <!-- 	contact -->
             <% include ../partials/common/contact %>
             <!-- 	/contact -->
  
          </div>
  
          <div class="col-xs-12 col-sm-12 col-md-4">
            
             <!-- 	keepintouch -->
             <% include ../partials/common/keepintouch %>
             <!-- 	/keepintouch -->
  
          </div>
  
          <div class="col-xs-12 col-sm-12 col-md-4">
            
             <!-- 	video -->
             <% include ../partials/common/video %>
             <!-- 	/video -->
  
          </div>
        </div>
      </div>
    </section>
    <!-- /footer top -->

  <!-- footer buttom -->
  <section id="footer_buttom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
          <span>Copyright @ mart87.com 2016-2017</span>
          <span>All right reserve</span>
        </div>
      </div>
    </div>
  </section>
  <!-- /footer buttom -->
</footer>
<!-- /Footer -->