<!-- 	header -->
<header>
  <!-- Navbar -->
  <nav class="navbar navbar-default navbar-fixed-top navbar-bg-dark-green">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <!-- <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button> -->
      </div>

      <!-- menu header -->
      <% include ../partials/header %>
        <!-- /menu header -->
    </div>
    <!-- /.container-fluid -->
  </nav>
</header>
<!-- 	/header -->

<!-- Page Content -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <!-- logo -->
      <% include ../partials/category %>
        <!-- /logo -->
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10" id="wrapper-content">
      <!-- 	container -->
      <div class="container-fluid">
        <!-- logo -->
        <% include ../partials/logo %>
          <!-- /logo -->
          <!-- search -->
          <% include ../partials/search %>
            <!-- /search -->

            <!-- slide category -->
            <div>
              <!--<% include ../partials/slide-category %>-->
            </div>
            <!-- slide category -->
            <div>
              <!-- slide -->
              <% include ../partials/slide %>
                <!-- /slide -->
                <!-- Your Order -->
                <div class="container-fluid">
                  <% include ../partials/order %>
                </div>
                <!-- /Your Order -->

                <!-- Content -->

                <div>
                  <!-- new product -->
                  <% include ../partials/new-product %>
                    <!-- /new product -->

                    <!-- new product -->
                    <% include ../partials/recommend-product %>
                      <!-- /new product -->

                      <!-- new product -->
                      <% include ../partials/popular-product %>
                        <!-- /new product -->
                </div>

                <!-- Our Partner -->
                <div>
                  <% include ../partials/partner %>
                </div>
                <!--/ Our Partner -->

                <!-- chat -->
                <% include ../partials/chat %>
                  <!-- /chat -->

                  <!-- Footer -->
                  <footer>
                    <!-- footer top -->
                    <section id="footer_top">
                      <div class="container">
                        <div class="row">
                          <div class="col-md-12">
                            <!-- contact -->
                            <% include ../partials/contact %>
                              <!-- /contact -->
                              <!-- shared -->
                              <% include ../partials/shared %>
                                <!-- /shared -->
                                <!-- how to buy -->
                                <% include ../partials/how-to-buy %>
                                  <!-- how to buy -->
                          </div>
                        </div>
                      </div>
                    </section>
                    <!-- /footer top -->
            </div>
      </div>
    </div>
  </div>
</div>

<% include ../partials/templates/modal %>

<!-- footer buttom -->
<footer>
  <% include ../partials/footer %>
</footer>
<!-- /footer buttom -->