  <!-- 	header -->
  <header>
        <!-- Navbar -->
          <nav class="navbar navbar-default navbar-fixed-top navbar-bg-dark-green">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
        
                <!-- menu header -->
                <% include ../partials/header %>
                <!-- /menu header -->
          </div>
          <!-- /.container-fluid -->
        </nav>
    </header>
    <!-- 	/header -->
      
        <!-- Account info -->
  <section id="login-panel">
      <div class="container">
        <div class="border-top"></div>
        <h3>Oders Information</h3>
          <!-- Return Customer  -->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <!-- Return Customer  -->
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="return-costomer-login">
                      <div class="table-responsive">
                      <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>No</th>
                              <th>Product Name</th>
                              <th>Category</th>
                              <th>Quantity</th>
                              <th>Price</th>
                              <th>Total</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Product Name</td>
                              <td>Cateogry name</td>
                              <td>12</td>
                              <td>1200</td>
                              <td>1200</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>  
                      <br/>
                      <button type="button" class="btn" onclick="onBack()">Back</button>
                </div>
              
          </div>
          <!-- /Return Customer -->
      </div>
  </section>
  <!-- /Account info -->
      
      <!-- chat -->
      <% include ../partials/chat %>
      <!-- /chat -->
      
      <!-- Footer -->
      <footer>
          <!-- footer top -->
          <section id="footer_top">
                  <div class="container">
                      <div class="row">
                      
                          <!-- contact -->
                          <% include ../partials/contact %>
                          <!-- /contact -->
      
                          <!-- shared -->
                          <% include ../partials/shared %>
                          <!-- /shared -->
                          
                          <!-- how to buy -->
                          <% include ../partials/how-to-buy %>
                          <!-- how to buy -->
                      </div>
                  </div>
          </section>
          <!-- /footer top -->		
      
        <!-- footer buttom -->
          <section id="footer_buttom">
              <% include ../partials/footer %>
          </section>
        <!-- /footer buttom -->
      </footer>
      <!-- /Footer -->
      <script>
        function onBack(){
          return window.location.replace("http://localhost:1337/account");
        }
      </script>