<!-- logo -->
<section id="first-logo">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="main-logo">
          <a href="/">
            <img src="/images/logo/logo.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /logo -->

<!-- search -->
<section id="search">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
        <form>
          <div class="col-md-12">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for Vegetable, meats & Grocery...">
              <span class="input-group-btn">
                <button class="btn btn-default bg-ligh-green" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
            <!-- /input-group -->
          </div>
          <!-- /.col-lg-6 -->
        </form>
      </div>
    </div>
  </div>
</section>

<!-- /search -->


<!-- Content -->

<!-- 	Login -->
<section id="shopping-cart-panel">
  <div class="container">
    <h2>Shopping Cart</h2>
    <div class="border-top"></div>

    <!-- 	Shopping -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Image</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Sub Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <img src="/images/products/small/01.png" alt="">
                </td>
                <td>Milk</td>
                <td>

                  <div class="input-group">
                    <input type="text" class="form-control input-sm input-qty" value="1">
                    <span class="input-group-btn">
                      <button class="btn btn-sm btn-danger" type="button">
                        <i class="fa fa-close"></i>
                      </button>
                    </span>
                  </div>
                  <!-- /input-group -->

                </td>

                <td>$2.60</td>
                <td>$2.60</td>
              </tr>

              <tr>
                <td>
                  <img src="/images/products/small/02.jpg" alt="">
                </td>
                <td>Doublemin</td>
                <td>

                  <div class="input-group">
                    <input type="text" class="form-control input-sm" value="2">
                    <span class="input-group-btn">
                      <button class="btn btn-sm btn-danger" type="button">
                        <i class="fa fa-close"></i>
                      </button>
                    </span>
                  </div>
                  <!-- /input-group -->

                </td>

                <td>$1.50</td>
                <td>$3.00</td>
              </tr>

            </tbody>
          </table>
        </div>

        <h2>Get Discount!!</h2>
        <!-- shopping Option -->
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Use Coupon Code
                  <i class="fa fa-caret-down"></i>
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">

                <!-- Coupon Code -->
                <h6>ENTER YOUR COUPON HERE</h6>
                <form action="">
                  <div class="input-group">
                    <input type="text" class="form-control input-coupon" placeholder="Enter Your Coupon Here">
                    <span class="input-group-btn">
                      <button class="btn btn-success btn-coupon" type="button">Apply Coupon</button>
                    </span>
                  </div>
                  <!-- /input-group -->
                </form>

                <!-- /Coupon Code -->


              </div>
            </div>
          </div>

          <!-- Account & Billing Details -->

          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                  aria-controls="collapseTwo">
                  Use Gift Voucher&nbsp;
                  <i class="fa fa-caret-down"></i>
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">

                <h6>ENTER YOUR GIFT VOUCHER CODE HERE</h6>
                <form action="">
                  <div class="input-group">
                    <input type="text" class="form-control input-coupon" placeholder="Enter  Your Gift Vouche Code Here">
                    <span class="input-group-btn">
                      <button class="btn btn-success btn-coupon" type="button">Apply Voucher</button>
                    </span>
                  </div>
                  <!-- /input-group -->
                </form>

              </div>
            </div>
          </div>
          <!-- / Account & Billing Details -->

        </div>

        <!-- Checkout Option -->

        <!-- Grand Total -->
        <div class="table-responsive">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <td align="right">Sub Total</td>
                <td>$8.72</td>
              </tr>
              <tr>
                <td align="right">Delivery Fee</td>
                <td>$1</td>
              </tr>

              <tr>
                <td align="right">Total</td>
                <td>$9.72</td>
              </tr>

            </tbody>
          </table>
        </div>

        <!-- /Grand Total -->

      </div>

      <!-- shopping button -->
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a href="/" class="btn btn-default btn-continue-shopping">Continue Shopping</a>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <a href="../checkout/checkout.html" class="btn btn-success btn-checkout pull-right">Checkout</a>
      </div>

      <!-- shopping button -->

    </div>
    <!-- /row-->
    <!-- 	Shopping -->




    <!-- 	/shopping cart -->

  </div>
</section>

<!-- /Login -->

<!-- / Content -->

<!-- Footer -->
<footer>
  <!-- footer top -->
  <section id="footer_top">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="box-1">
            <span class="glyphicon glyphicon-earphone"></span>
          </div>
          <div class="box-2">
            <h4>Do You Have Any Question?</h4>
          </div>
          <div class="box-3">
            <span></span>
            <span>070 600 200</span>
            <span>099 600 200</span>
          </div>

          <div class="box-4">
            <h5>Information</h5>
            <span class="fa fa-envelope-o"></span>
            <h6>info@mart87.com</h6>
            <span class="glyphicon glyphicon-dashboard"></span>
            <h6>8:00 am - 8 pm</h6>

          </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="box-5">
            <ul>
              <li>
                <a href="/frequently-asked-questions">FAQ</a>
              </li>
              <li>
                <a href="/about">About Mart78</a>
              </li>
              <li>
                <a href="/delivery">Delivery Information</a>
              </li>
              <li>
                <a href="/terms-and-conditions">Term & Condition</a>
              </li>
            </ul>
          </div>

          <div class="box-6">
            <h5>Keep in Touch On</h5>
            <span>
              <a href="#" class="btn btn-primary active facebook" role="button">
                <i class="fa fa-facebook"></i>
              </a>

              <a type="button" class="btn btn-primary linkin">
                <i class="fa fa-linkedin"></i>
              </a>

              <a type="button" class="btn btn-primary twitter">
                <i class="fa fa-twitter"></i>
              </a>

              <a type="button" class="btn btn-danger youtube">
                <i class="fa fa-youtube"></i>
              </a>

            </span>

          </div>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="box-7">
            <h5>How to Buy</h5>
            <div class="video-block">

              <div class="videoContainer">
                <video id="myVideo" controls preload="auto" poster="/images/logo/logo.png" width="450">
                  <source src="/video/default.mp4" type="video/mp4" />
                  <p>Your browser does not support the video tag.</p>
                </video>
                <div class="caption"></div>
                <div class="control">
                  <div class="btmControl">
                    <div class="btnPlay btn" title="Play/Pause video">
                      <span class="fa fa-play"></span>
                    </div>
                    <div class="progress-bar">
                      <div class="progress">
                        <span class="bufferBar"></span>
                        <span class="timeBar"></span>
                      </div>
                    </div>
                    <!--<div class="volume" title="Set volume">
															<span class="volumeBar"></span>
														</div>-->
                    <div class="sound sound2 btn" title="Mute/Unmute sound">
                      <span class="fa fa-volume-up"></span>
                    </div>
                    <div class="btnFS btn" title="Switch to full screen">
                      <span class="fa fa-arrows-alt"></span>
                    </div>
                  </div>

                </div>
              </div>


            </div>
          </div>
        </div>


      </div>
    </div>
  </section>
  <!-- /footer top -->

  <!-- footer buttom -->
  <section id="footer_buttom">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
          <span>Copyright @ mart87.com 2016-2017</span>
          <span>All right reserve</span>
        </div>
      </div>
    </div>
  </section>
  <!-- /footer buttom -->
</footer>
<!-- /Footer -->